.cadastro {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  text-align: center;
  max-width: 350px;
  width: 100%;
}

.cadastro .icone {
  width: 60px;
  margin-bottom: 15px;
}

.cadastro h2 {
  margin-bottom: 20px;
  font-weight: 600;
  color: #333;
}

.cadastro input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background: #f0f0f0;
}

.cadastro button {
  width: 100%;
  padding: 12px;
  background-color: #4973ff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cadastro button:hover {
  background-color: #3655d3;
}

.Registro {
  margin-top: 15px;
}

.Registro a {
  text-decoration: none;
  color: #4973ff;
}